@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
*{
  font-family: 'Rubik', sans-serif;
}

.btnNav {
  position: relative;
  width: max-content;
}

/* Botão "Seja membro" */ 
.btn-custom {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  width: max-content;
  height: auto;
  border-radius: 47.5px;
  border: 2pt solid #4DDD4D;
  color:#4DDD4D;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.btn-custom:hover {
  transition-duration: 0.3s;
  color: rgb(255, 255, 255);
  background: #4DDD4D;
}

.btn-custom.disabled {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

/* Items da Navbar (sobre, mais exemplos) */ 
.navbar-light, 
.navbar-nav, 
.nav-link {
color: #8B8B8B;
font-weight: 500;
/* margin-left: 2rem; */
} 

.nav-link {
  font-size: 20px;
}

.imageLogoNavbar {
  width: 200px;
}