/* General */



.noExamplesMessage {
    font: Bold 30px/36px Rubik;
    letter-spacing: 0;
    color: rgba(121, 121, 121, 0.897);
}

.titleCustom {
    font: Bold 30px/36px Rubik;
    letter-spacing: 0;
    color: #3A3B3A;
    opacity: 1;
}

/* Categories Box */



.categoriesBox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

.categoryText {
    font: Regular 20px/24px Rubik;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.categoryText:hover {
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.3s;
    color: #4DDD4D;
}

.active {
    font-size: 18px;
    font-weight: bold;
    color: #4DDD4D;
}

#searching-examples-timeout {
    display: none;
}

#category-title {
    display: none;
}

@media (max-width: 1199px) {
    .customAlignCssRow {
        justify-content: center;
    }
}



/* Cards */


.exampleListCard {
    width: 265px;
    height: 385px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

.newExampleListCard {
    width: 265px;
    height: 385px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 8px solid #3DDD3D;
    border-radius: 16px;
    opacity: 1;
}

.exampleListCard:hover {
    transition-duration: 0.2s;
    border: #3DDD3D solid 1.5px;
    /* background-color: rgba(15, 95, 223, 0.031); */
}

.exampleListCard a {
    text-decoration: none !important;
}

.newExampleListCard a {
    text-decoration: none !important;
}

.examplesListCardInvalid {
    width: 265px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    animation: pulse 1.5s;
    animation-iteration-count: 3.3;
}

@keyframes pulse {
    0% {
        background-color: rgb(255, 255, 255, 0.9);
    }
    50% {
        background-color: rgba(235, 235, 235, 0.644);
    }
    100% {
        background-color: rgb(255, 255, 255, 0.9);
    }
}


.topCardDetail {
    width: 138px;
    height: 8px;
    background: #4DDD4D 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}

.newTopCardDetail {
    width: 138px;
    height: 8px;
    background: #4DDD4D 0% 0% no-repeat padding-box;
    border-radius: 7px;
    margin-top: -8px;
}

.newExampleListCard:hover .newTopCardDetail{
    transition-duration: 0.2s;
    margin-top: 4px;
}

.newBottomCardDetail {
    outline: 1px solid black;
}

.newExampleListCard:hover .newBottomCardDetail{
    transition-duration: 0.2s;
    margin-top: -4px !important; 
}


.imageDetails {
    height: 142px;
    border-radius: 25px;
}

.placeOfOriginText {
    font: Medium 13px/15px Rubik;
    letter-spacing: 0;
    color: #9B9B9B;
    opacity: 1;
}

.exampleNameText {
    font-family: Medium Rubik;
    color: #000000;
    letter-spacing: 0;
}

.exampleTagsText {
    font: Regular 15px/18px Rubik;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}
