.firstBlockTitle {
    font: 50px/60px Rubik;
    font-weight: bold;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    opacity: 1;
}

.firstBlockSubtitle {
    font: 30px/36px Rubik;
    letter-spacing: 0;
    color: rgb(255, 255, 255);
    opacity: 1;
}

.firstBlockBackground {
    opacity: 1;
    /* background: linear-gradient(134deg, #4ddd4d, #00ffb3); */
    background-size: 300% 300%;
    /* -webkit-animation: backgroundGradient 25s ease infinite;
    -moz-animation: backgroundGradient 25s ease infinite;
    animation: backgroundGradient 25s ease infinite; */
}

/* @-webkit-keyframes backgroundGradient {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-moz-keyframes backgroundGradient {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@keyframes backgroundGradient {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
} */

@media (max-width:436px) {
    .exampleHomepageCard {
        display: none;
    }
}

@media (min-width:436px) and (max-width: 566px) {
    .exampleHomepageCard {
        width: 200px;
        height: 360px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 16px;
        opacity: 1;
    }
}

@media (min-width: 566px) {
    .exampleHomepageCard {
        width: 265px;
        height: 360px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 16px;
        opacity: 1;
    }
}

.exampleHomepageCard:hover {
    transition-duration: 0.2s;
    border: #3DDD3D solid 1.5px;
    /* background-color: rgba(15, 95, 223, 0.031); */
}

.exampleHomepageCard a{
    text-decoration: none !important;
}

.accessExamplesButton {
    font: 32px Rubik;
    font-weight: bold;
    color: #4ddd89;
    background: white;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 27px;
    background-size: 300% 300%;
    -webkit-animation: buttonGradient 25s ease infinite;
    -moz-animation: buttonGradient 25s ease infinite;
    animation: buttonGradient 25s ease infinite;
}

.accessExamplesButton:hover {
    color: #ffffff;
    background: linear-gradient(22deg, #4ddd4d, #00ffb3);
    transition-duration: 0.7s;   
}

.accessExamplesButton a{
    text-decoration: none !important;
    color: #4ddd89;
}

.accessExamplesButton a:hover{
    text-decoration: none !important;
    color: #FFFF;
}


@-webkit-keyframes buttonGradient {
    0%{background-position:0% 23%}
    50%{background-position:100% 78%}
    100%{background-position:0% 23%}
}
@-moz-keyframes buttonGradient {
    0%{background-position:0% 23%}
    50%{background-position:100% 78%}
    100%{background-position:0% 23%}
}
@keyframes buttonGradient {
    0%{background-position:0% 23%}
    50%{background-position:100% 78%}
    100%{background-position:0% 23%}
}

.missionVisionDescriptionBox {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #82828229;
    border-radius: 14px;
    opacity: 1;
}

.secondBlockTitle {
    font: 50px/60px Rubik;
    font-weight: bold;
    letter-spacing: 0;
    color: #747171;
    opacity: 1;
}

.secondBlockDescription {
    font: 30px/36px Rubik;
    font-weight: bold;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.thirdBlockTitle {
    font: 50px/60px Rubik;
    font-weight: bold;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.teamBlock {
    background: linear-gradient(120deg, #68fd3b, #d0fd95 90%);
}

.teamProfileImage {
    border-radius: 50%;
    border: 2px solid white;
}

.teamName {
    font: 32px Rubik;
    font-weight: bold;
    letter-spacing: 0;
    color: #000;
    opacity: 1;
}

.teamRoll {
    font: 28px Rubik;
    font-weight: bold;
    letter-spacing: 0;
    color: rgb(42, 42, 42);
    opacity: 1;
}

@media (min-width: 386px) and (max-width: 574px) {
    .teamProfileCard img {
        width: 250px;
    }
}