
.exampleCard {
    width: 265px;
    height: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
}

.exampleCard:hover {
    transition-duration: 0.2s;
    border: #3DDD3D solid 1.5px;
    /* background-color: rgba(15, 95, 223, 0.031); */
}

.exampleCard a {
    text-decoration: none;
}

.titleCustom {
    font: Bold 30px/36px Rubik;
    letter-spacing: 0;
    color: #3A3B3A;
    opacity: 1;
}

.categoryText {
    font: Regular 20px/24px Rubik;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.categoryText:hover {
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.3s;
    color: #4DDD4D;
}

.active {
    font-size: 18px;
    font-weight: bold;
    color: #4DDD4D;
}

.topCardDetail {
    width: 138px;
    height: 8px;
    background: #4DDD4D 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}

.imageDetails {
    height: 142px;
    border-radius: 25px;
}

.placeOfOriginText {
    font: Medium 13px/15px Rubik;
    letter-spacing: 0;
    color: #9B9B9B;
    opacity: 1;
}

.exampleNameText {
    font-family: Medium Rubik;
    color: #000000;
    letter-spacing: 0;
}

.exampleTagsText {
    font: Regular 15px/18px Rubik;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.categoriesBox {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 16px;
    opacity: 1;
    height: 470px;
}

#searching-examples-timeout {
    display: none;
}

@media (max-width: 1199px) {
    .customAlignCssRow {
        justify-content: center;
    }
  }