@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
  /* margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; */
  color: black;
}
/*
html, body, #root {
  height: 100%;  as tags, por padrão, não ocupam 100% de altura. As divs ocupam 100% de largura 
} */

body {
  /* background-color: #4DDD4D !important; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  /* overflow: hidden;*/
  background-image: url('assets/background.png');
  /* background: rgb(107,201,190); */
  /* background: linear-gradient(90deg, rgba(107,201,190,1) 0%, rgba(84,216,190,1) 48%, rgba(60,231,191,1) 100%); */
}

body, input, button { /* Input e button, por padrão, não herdam a fonte do corpo do HTML */
  color: black;
}