@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
  /* margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; */
  color: black;
}
/*
html, body, #root {
  height: 100%;  as tags, por padrão, não ocupam 100% de altura. As divs ocupam 100% de largura 
} */

body {
  background-color: #00ff6a !important;
  /* background: url("./assets/Background.jpg") no-repeat center center fixed; */
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  /* overflow: hidden;
}

body, input, button { /* Input e button, por padrão, não herdam a fonte do corpo do HTML */
  color: black;
}